.destination {
    display: inline-block;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    vertical-align: middle;
    padding: 10px;
}

.addFirst, .addLast, .addBetween{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

.addFirst.dragOver, .addLast.dragOver, .addBetween.dragOver {
    padding: 20px;
}


.destination .remove {
    cursor: pointer;
    padding: 0 10px;
}